@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using System.IO;
@using BlazorApp1.Models
@inject HttpClient Http
@inject IWebHostEnvironment Env

@inject ISnackbar Snackbar
<h3>افزودن کالا</h3>
@page "/commodity"

<MudPaper Class="d-flex align-center justify-center mud-width-full py-8 p-3">
    <MudForm @ref="form">
        <MudGrid>
            <MudItem xs="4">

                <MudTextField @bind-Value="model.ProductName" Label="کالا" Variant="Variant.Text" Required="true"
                              RequiredError="نام کالا الزامیست">
                </MudTextField>

            </MudItem>
            <MudItem xs="4">

                <div>

                    <MudTextField @bind-Value="@model.CategoryName" TextUpdateSuppression=false Label="نام دسته بندی"
                                  Variant="Variant.Text" Required="true" ReadOnly="true" RequiredError="نام دسته بندی الزامیست"
                                  For="@(() => model.CategoryName)" />
                    <MudTreeView Hover ReadOnly="false" @bind-SelectedValue="@model.CategoryName" Required="true">
                        <MudTreeViewItem Value="@("بازی")">
                            <MudTreeViewItem Value='"بردگیم"' />
                            <MudTreeViewItem Value='"ویدیوگیم"' />
                        </MudTreeViewItem>
                    </MudTreeView>
                </div>




            </MudItem>
            <MudItem xs="4">

                <MudSelect @bind-Value="model.BrandName" Label="نام برند" Variant="Variant.Text" Required
                           RequiredError="نام برند الزامیست" For="@(() => model.BrandName)">
                    @foreach (var name in _name)
                    {
                        <MudSelectItem Value="@name">@name</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
            <MudItem xs="4">

                <MudTextField @bind-Value="model.SupplierName" Label="نام تامین کننده" Variant="Variant.Text">
                </MudTextField>

            </MudItem>
            <MudItem xs="4">

                <MudNumericField HideSpinButtons="true" @bind-Value="model.Supply" Label="موجودی"
                                 Variant="Variant.Text" Min="0" Required="true" RequiredError="موجودی الزامیست" />

            </MudItem>
            <MudItem xs="4">

                <MudNumericField HideSpinButtons="true" @bind-Value="model.Price" Label="قیمت (ریال)"
                                 Variant="Variant.Text" Min="0" Required="true" Adornment="Adornment.End" AdornmentText="ریال"
                                 RequiredError="قیمت الزامیست" />

            </MudItem>
            <MudItem xs="4">
                <MudTextField T="string" Label="ایمیل"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "ایمیل نامعتبر است"})"
                              InputType="InputType.Email" @bind-Value="model.Email" />


            </MudItem>
            <MudItem xs="4">

                <MudDatePicker Label="تاریخ شروع نمایش" Editable="true" @bind-Date="model.StartDate"
                               Mask="@(new DateMask("0000/00/00"))" DateFormat="yyyy-MM-dd" Placeholder="از"
                               Variant="Variant.Outlined" Culture="@GetPersianCulture()" />

            </MudItem>
            <MudItem xs="4">

                <MudDatePicker Label="تاریخ پایان نمایش" Editable="true" @bind-Date="model.EndDate"
                               Mask="@(new DateMask("0000/00/00"))" DateFormat="yyyy-MM-dd" Placeholder="تا"
                               Variant="Variant.Outlined" Culture="@GetPersianCulture()" Validation="Dates" />


            </MudItem>
            <MudItem xs="4">
                <div Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudTextField @bind-Value="model.ImageName" Label="تصویر کالا" Variant="Variant.Text"
                                  TextUpdateSuppression=false ReadOnly Required RequiredError="تصویر کالا الزامیست">
                    </MudTextField>
                    <MudFileUpload T="IBrowserFile" FilesChanged="@(async file => await HandleFileChange(file))">
                        <ActivatorContent>
                            <MudFab Color="Color.Primary" EndIcon="@Icons.Material.Filled.CloudUpload"
                                    Size="Size.Small" />
                        </ActivatorContent>
                    </MudFileUpload>
                </div>
            </MudItem>
            <MudItem xs="4">
                <div Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudTextField @bind-Value="model.CatalogueName" Label="کاتالوگ کالا" Variant="Variant.Text"
                                  TextUpdateSuppression=false ReadOnly>
                    </MudTextField>
                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                        <ActivatorContent>
                            <MudFab Color="Color.Primary" EndIcon="@Icons.Material.Filled.CloudUpload"
                                    Size="Size.Small" />
                        </ActivatorContent>
                    </MudFileUpload>
                </div>
            </MudItem>
            <MudItem xs="4">

                <MudColorPicker Label="رنگ بندی محصول" @bind-Text="model.Color"
                                Style="@($"color: {model.Color};")" Placeholder="انتخاب رنگ" />

            </MudItem>

        </MudGrid>
        <MudItem>
            <div>
                <MudButton OnClick="OnValidSubmit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    ثبت
                    کالا
                </MudButton>
                <MudButton OnClick="CancelEdit" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto">
                    انصراف
                </MudButton>
            </div>
        </MudItem>

    </MudForm>
</MudPaper>

<MudTable Items="@Elements" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>نام کالا</MudTh>
        <MudTh>نام دسته بندی</MudTh>
        <MudTh>نام برند</MudTh>
        <MudTh>نام تامین کننده</MudTh>
        <MudTh>ایمیل</MudTh>
        <MudTh>قیمت</MudTh>
        <MudTh>موجودی</MudTh>
        <MudTh>تاریخ شروع</MudTh>
        <MudTh>تاریخ پایان</MudTh>
        <MudTh>تصویر</MudTh>
        <MudTh>کاتالوگ</MudTh>
        <MudTh>رنگ</MudTh>
        <MudTh>ویرایش</MudTh>
        <MudTh>حذف</MudTh>
        <MudTd>لینک</MudTd>
    </HeaderContent>
    <RowTemplate>

        <MudTd>@context.ProductName</MudTd>
        <MudTd>@context.CategoryName</MudTd>
        <MudTd>@context.BrandName</MudTd>
        <MudTd>@context.SupplierName</MudTd>
        <MudTd>@context.Email</MudTd>
        <MudTd>@context.Price</MudTd>
        <MudTd>@context.Supply</MudTd>
        <MudTd>@context.StartDate?.ToString("yyyy/MM/dd")</MudTd>
        <MudTd>@context.EndDate?.ToString("yyyy/MM/dd")</MudTd>

        <MudTd>
            <a href="uploads/@context.ImageName" download="@context.ImageName">
                <MudImage Src="@("uploads/"+context.ImageName)" Alt="Mony the dog" Elevation="25" Class="rounded-lg" Width="100" Height="70" />
            </a>
        </MudTd>
        <MudTd>@context.CatalogueName</MudTd>
        <MudTd>@context.Color</MudTd>
        <MudTd>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="() => EditRow(context)">
                ویرایش
            </MudButton>
        </MudTd>
        <MudTd>
            <MudButton Color="Color.Error" Variant="Variant.Filled" @onclick="() => OnButtonClicked(context)">
                حذف
            </MudButton>
        </MudTd>
        <MudTd>
            <a class="btn btn-primary" href="showproduct/@context.Id">
                مشاهده جزئیات
            </a>

        </MudTd>

    </RowTemplate>

</MudTable>



@code {
    private MudForm form;
    private Product model = new Product();
    private List<Product> Elements;
    private Product newProduct;

    private readonly string[] _name =
    [
    "دهکده بردگیم", "چارپایه", "فان تایمز"
    ];
    private async Task OnValidSubmit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            if (editItem == null)
            {

                newProduct = new Product
                {
                    ProductName = model.ProductName,
                    CategoryName = model.CategoryName,
                    BrandName = model.BrandName,
                    SupplierName = model.SupplierName,
                    Email = model.Email,
                    Supply = model.Supply,
                    Price = model.Price,
                    StartDate = model.StartDate,
                    EndDate = model.EndDate,
                    CatalogueName = model.CatalogueName,
                    ImageName = model.ImageName,
                    Color = model.Color,

                };

                // Elements.Add(newItem);
                AddNewProduct();
                model = new Product();
                StateHasChanged();
                Snackbar.Add("کالا با موفقیت اضافه شد.", Severity.Success);
            }
            else
            {
                SaveEdit(editItem);
            }
        }
    }


    private CultureInfo GetPersianCulture()
    {
        var culture = new CultureInfo("fa-IR");
        DateTimeFormatInfo formatInfo = culture.DateTimeFormat;
        formatInfo.AbbreviatedDayNames = new[] { "ی", "د", "س", "چ", "پ", "ج", "ش" };
        formatInfo.DayNames = new[] { "یکشنبه", "دوشنبه", "سه شنبه", "چهار شنبه", "پنجشنبه", "جمعه", "شنبه" };
        var monthNames = new[]
        {
            "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن",
            "اسفند",
            "",
        };
        formatInfo.AbbreviatedMonthNames =
        formatInfo.MonthNames =
        formatInfo.MonthGenitiveNames = formatInfo.AbbreviatedMonthGenitiveNames = monthNames;
        formatInfo.AMDesignator = "ق.ظ";
        formatInfo.PMDesignator = "ب.ظ";
        formatInfo.ShortDatePattern = "yyyy/MM/dd";
        formatInfo.LongDatePattern = "dddd, dd MMMM,yyyy";
        formatInfo.FirstDayOfWeek = DayOfWeek.Saturday;
        Calendar cal = new PersianCalendar();
        FieldInfo fieldInfo = culture.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (fieldInfo != null)
            fieldInfo.SetValue(culture, cal);
        FieldInfo info = formatInfo.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (info != null)
            info.SetValue(formatInfo, cal);
        culture.NumberFormat.NumberDecimalSeparator = "/";
        culture.NumberFormat.DigitSubstitution = DigitShapes.NativeNational;
        culture.NumberFormat.NumberNegativePattern = 0;
        return culture;
    }
    private string Dates(DateTime? date)
    {
        if (date == null || model.StartDate == null)
        {
            return null;
        }

        if (date > model.StartDate)
        {
            return null;
        }
        if (date < model.StartDate)
        {
            return "تاریخ پایان باید بعد از شروع باشد.";
        }
        return null;
    }
    private void UploadFilep(IBrowserFile file)
    {
        if (file.ContentType.StartsWith("image/"))
        {
            model.ImageName = file.Name;
            
        }
        else
        {
            Snackbar.Add("باید تصویر باشد.", Severity.Info);
        }
    }
    private void UploadFiles(IBrowserFile file)
    {
        if (file.ContentType.StartsWith("image/"))
        {
            model.CatalogueName = file.Name;
            
        }
        else
        {
            Snackbar.Add("باید تصویر باشد.", Severity.Info);
        }
    }
    [Inject]private IDialogService DialogService { get; set; }
    private async Task OnButtonClicked(Product model)
    {
        bool? result = await DialogService.ShowMessageBox(
        "اخطار!",
        "مشخصات کالا حذف خواهد شد",
        yesText: "حذف", cancelText: "بازگشت");
        if (result == true)
        {
            // Elements.Remove(model);
            DeleteProduct(model.Id);
            // var filePath = Path.Combine(Env.WebRootPath, "uploads", model.ImageName);

            if (model.ImageName != null)
            {
                File.Delete(Env.WebRootPath + "/uploads/" + model.ImageName);
            }

            // File.Delete(Env.WebRootPath +"/uploads/" + model.ImageName);
            StateHasChanged();
        }
    }
    private Product? editItem;

    private void EditRow(Product item)
    {
        editItem = item;
        model = new Product
        {
            ProductName = item.ProductName,
            CategoryName = item.CategoryName,
            BrandName = item.BrandName,
            SupplierName = item.SupplierName,
            Email = item.Email,
            Supply = item.Supply,
            Price = item.Price,
            StartDate = item.StartDate,
            EndDate = item.EndDate,
            CatalogueName = item.CatalogueName,
            ImageName = item.ImageName,
            Color = item.Color
        };
    }

    private async Task SaveEdit(Product original)
    {
        var response = await Http.PutAsJsonAsync($"api/product/edit/{original.Id}", model);
        if (response.IsSuccessStatusCode)
        {
            var updatedProduct = await response.Content.ReadFromJsonAsync<Product>();
            var index = Elements.FindIndex(p => p.Id == updatedProduct!.Id);
            if (index >= 0)
                Elements[index] = updatedProduct;

            editItem = null;
            model = new Product();
            Snackbar.Add("ویرایش با موفقیت انجام شد.", Severity.Success);
            StateHasChanged();
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            Console.WriteLine("خطا در ویرایش: " + error);
        }
    }


    private void CancelEdit()
    {
        editItem = null;
        model = new Product();
    }

    private async Task HandleFileChange(IBrowserFile file)
    {
        if (file == null) return;
        if (file.ContentType.StartsWith("image/"))
        {
            model.ImageName = file.Name;
            // model.Image = file;
            using var stream = file.OpenReadStream(maxAllowedSize: 5_000_000);
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);

            var uploadsFolder = Path.Combine(Env.WebRootPath, "uploads");

            if (!Directory.Exists(uploadsFolder))
                Directory.CreateDirectory(uploadsFolder);

            var savePath = Path.Combine(uploadsFolder, file.Name);
            File.WriteAllBytes(savePath, ms.ToArray());
        }
        else
        {
            Snackbar.Add("باید تصویر باشد.", Severity.Info);
        }

    }
    
    protected override async Task OnInitializedAsync()
    {
        Elements = await Http.GetFromJsonAsync<List<Product>>("api/product/default");
    }

    private async Task AddNewProduct()
    {
        var response = await Http.PostAsJsonAsync<Product>("api/product/add", newProduct);
        if (response.IsSuccessStatusCode)
        {
            var addedProduct = await response.Content.ReadFromJsonAsync<Product>();
            Elements.Add(addedProduct);
            newProduct = new Product();
            StateHasChanged(); 
        }
        else
        {
    
            Console.WriteLine("خطا در اضافه کردن محصول");
        }
    }
    private async Task DeleteProduct(int? id)
    {
        var response = await Http.DeleteAsync($"api/product/delete/{id}");
        if (response.IsSuccessStatusCode)
        {
            var productToRemove = Elements.FirstOrDefault(p => p.Id == id);
            if (productToRemove != null)
                Elements.Remove(productToRemove);

            StateHasChanged();
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            Console.WriteLine("خطا در حذف: " + error);
        }
    }

}